.DS_Store
*/.DS_Store
src/3rdpart/parmetis-4.0/metis/build/*
src/3rdpart/parmetis-4.0/build/*
src/3rdpart/include/libmetis.a
src/3rdpart/lib/libmetis.a
src/COStreamC
*.output
*~
*.bak
src/bin/*.o
src/include/FrontEnd/token.h
src/src/FrontEnd/parser.cpp
src/src/FrontEnd/lexer.cpp
src/a
.vscode
*.temp
*.png
*.dot
*.txt
